@import "base.css";
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Montserrat:300|Source+Sans+Pro:300,400,700');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    display: block;
    font-weight: 300;
}
a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    border-radius: 5px;
}

h1 {
    font-family: 'Homemade Apple', cursive;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(255, 255, 255, 0) 16.5616px 0px 0px 0px, rgba(255, 255, 255, 0) -16.5616px 0px 0px 0px;
    color: #B39FB6;
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}
h3 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
p {
    font-size: 15px;
    font-weight: 300;
}
strong {
    font-weight: 700;
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}